torch
transformers
accelerate
datasets
evaluate
sentencepiece
protobuf
pydantic>=2.0
fastapi
uvicorn
numpy
pandas
scikit-learn
pytest
tqdm
fasttext-wheel
optimum[onnxruntime]
onnx
onnxruntime
onnxruntime-gpu
matplotlib
pyyaml
rich
requests
